*{
	margin: 0;
	padding: 0;
	color: #1F2B59;
    font-family: metropolis,sans-serif;
    line-height: 1.73;
}

.nav-bar{
	display: flex;
	align-items: center;
	padding: 10px;
}
nav{
	flex: 1;
	padding: 0 20px;
}
nav ul {
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
.sign-item{
	text-align: right;
}
a{
	text-decoration: none;
	transition: 0.5s;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;

}
nav ul li a:hover{
	text-decoration: underline #FF8000;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 500px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.button{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.button:hover{
	background: #563434;
}
.header{
	
}
.categories{
	margin: 70px 0;
}
.col-3 img{
	width: 100%;
}
/*service sroll down*/
.service-menu{
	display: none;
}
.menu-bar ul li:hover .service-menu{
	display: block;
	position: absolute;
	padding: 10px;
}
.service-menu ul li{
	display: block;
	margin: 10px 15px;
}
/*feature*/
.small-container{
	max-width: 1300px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
}
.col-4 img{
	width: 120%;
}
.title{
	text-align: center;
	margin: 0 auto 60px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after{
	content: '';
	background: #ff523b;
	width: 75px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 47.5%;
	transition: translateX(-50%);
}
h4{
	color: #555;
	font-weight: normal;
}
/*news*/
.news-container{
	max-width: 1300px;
	margin: auto;
}
.row-news{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
}
.col-news{
	flex-basis: 25%;
	margin: 20px 0;
	transition: 0.5s;
	box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%), 0 8px 8px -8px rgb(0 0 0 / 16%);
}.col-news:hover{
	transform: scale(1.05);
	z-index: 1;

}
.col-news a{
	text-align: center;
}
.col-4 p{
	font-size: 14px;
}
/*Services*/
.services-container{
	max-width: 1300px;
	margin: auto;
}
.service-row{
	display: flex;
	flex-wrap: wrap;

}
.cl-serive{
	flex-basis: 33%;
}


/*footer*/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0px 20px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}